@font-face {
  font-family: 'Oswald';
  src: url('../../font/Oswald/Oswald-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../font/Oswald/Oswald-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-size: 32px;
  letter-spacing: -1px;
}

@media(min-width: 768px) {
  h1 {
    font-size: 48px;
    letter-spacing: 0;
  }
}
