@font-face {
  font-family: 'Oswald';
  src: url('../../font/Oswald/Oswald-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../font/Oswald/Oswald-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

h1, h2 {
  font-weight: 400;
  letter-spacing: -1px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

@media(min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }
}
