.ui-text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &.x3 {
    -webkit-line-clamp: 3;
  }

  &.x4 {
    -webkit-line-clamp: 4;
  }

  &.show-all {
    -webkit-line-clamp: unset;
  }
}
