.ui-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0;
  user-select: none;

  &-title {
    display: flex;
    align-items: center;

    h1 {
      letter-spacing: -2px;
    }
  }

  &-title:after {
    content: '-';
    visibility: hidden;
    font-weight: 300;
    position: absolute;
  }

  &-nav {
    display: flex;
    align-items: center;
    padding-top: 1px;
  }

  &-language {
    margin-right: 20px;
  }

  &-search {
    padding-top: 2px;

    i {
      font-size: 34px;
    }
  }
}

@media(min-width: 768px) {
  .ui-header {
    padding: 40px 40px 0;

    &-language {
      margin-right: 40px;
    }

    &-search {
      i {
        font-size: 48px;
      }
    }
  }
}
