.ui-stack {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  animation: stack-show .4s cubic-bezier(.55,0,.1,1);
  transform-origin: center center;
  background-color: rgba(0,0,0,.7);

  .exit & {
    animation: layer-hide .4s cubic-bezier(.55,0,.1,1) forwards;
  }

  &-close {
    position: fixed;
    top: 28px;
    right: 20px;
    z-index: 3;
    opacity: 1;
    transition: opacity .2s ease;

    &:active {
      opacity: .7;
    }

    i {
      font-size: 32px;
    }
  }
}

@media(min-width: 768px) {
  .ui-stack {
    &-close {
      top: 48px;
      right: 40px;
      cursor: pointer;

      i {
        font-size: 56px;
      }
    }
  }
}

@keyframes stack-show {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
