.ui-stack {
  height: 100%;
  animation: stack-show .4s cubic-bezier(.55,0,.1,1);
  transform-origin: top center;
  background-color: rgba(0,0,0,.7);
  backface-visibility: hidden;
  perspective: 1000;

  &-content {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &-wrap {
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1) translate3d(0,0,0);
    transition: transform .25s cubic-bezier(.55,0,.1,1);
    transform-origin: center center;

    &.closing {
      transition: transform .05s linear;
    }
  }

  &-close {
    position: fixed;
    top: 28px;
    right: 20px;
    z-index: 3;
    transform: translate3d(0,0,0);

    i {
      font-size: 32px;
    }
  }
}

@media(min-width: 768px) {
  .ui-stack {
    &-wrap {
      border-radius: 0;
    }

    &-close {
      top: 48px;
      right: 40px;
      cursor: pointer;

      i {
        font-size: 56px;
      }
    }
  }
}

@keyframes stack-show {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
