.ui-stack {
  height: 100%;
  animation: stack-show .4s cubic-bezier(.55,0,.1,1);
  transform-origin: top center;
  background-color: rgba(0,0,0,.6);
  backface-visibility: hidden;
  perspective: 1000;
  user-select: none;

  &-content {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &-wrap {
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1) translate3d(0,0,0);
    transition: transform .25s cubic-bezier(.55,0,.1,1);
    transform-origin: center center;

    &.closing {
      transition: transform .05s linear;
    }
  }

  &-head {
    padding: 20px 0 40px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.7);
  }

  &-close {
    display: none;
  }
}

@media(min-width: 768px) {
  .ui-stack {
    &-wrap {
      border-radius: 0;
    }

    &-head {
      padding: 40px 0 80px;
    }

    &-close {
      position: absolute;
      top: 48px;
      right: 40px;
      cursor: pointer;
      z-index: 3;
      display: block;

      &:after {
        display: none;
      }

      i {
        display: block;
        font-size: 56px;
      }
    }
  }
}

@keyframes stack-show {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
