.ui-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transform: scale(1) translate3d(0,0,0);
  transition: transform .3s ease;

  &.stack-open, #root:not(.ready) & {
    transform: scale(0.95) translate3d(0,0,0);
  }

  &-content {
    flex: 1;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
