.ui-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transform: scale(1) translate3d(0,0,0);
  transform-origin: center center;
  transition: transform .3s ease;

  &.stack-open, #root:not(.ready) & {
    transform: scale(0.95) translate3d(0,0,0);
  }

  &.has-video-stack.playing-video {
    visibility: hidden;
    transition: transform .3s ease, visibility 0s 1s;
  }

  &-content {
    flex: 1;
  }
}

.ui-clickable {
  opacity: 1;
  transition: opacity .2s ease;
  cursor: pointer;

  &:active {
    opacity: .7;
  }
}
