.media-credits {
  &-title {
    font-size: 17px;
  }

  &-value {
    font-size: 17px;
    font-weight: 300;
  }
}

@media(min-width: 768px) {
  .media-credits {
    &-title {
      font-size: 20px;
    }

    &-value {
      font-size: 20px;
    }
  }
}
