.cast-stack {
  padding: 20px;
  padding-top: calc(20px + env(safe-area-inset-top));
  padding-bottom: calc(20px + env(safe-area-inset-bottom));

  &-subtitle {
    padding-top: 6px;
  }

  &-list {
    margin: 0 -20px;
  }

  &-item {
    padding: 10px 20px;
    display: flex;
    align-items: center;

    &-picture {
      width: 56px;
      margin-right: 15px;
    }

    &-info {
      flex: 1;
    }

    &-name {
      font-size: 18px;
    }

    &-character {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

@media(min-width: 768px) {
  .cast-stack {
    padding: 40px;

    &-title {
      padding-right: 40px;
    }

    &-list {
      margin: 0 -40px;
    }

    &-item {
      padding: 10px 40px;
    }
  }
}
