.person-stack {
  padding: 20px;

  dl {
    dt {
      font-weight: 400;
    }

    dd {
      margin-bottom: 20px;
      font-weight: 300;
    }
  }

  &-info {
    margin-bottom: 40px;
  }

  &-bio {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media(min-width: 768px) {
  .person-stack {
    padding: 40px;
  }
}
