.person-stack {
  padding: 20px;
  padding-top: calc(20px + env(safe-area-inset-top));
  padding-bottom: env(safe-area-inset-bottom);

  dl {
    dt {
      font-weight: 400;
    }

    dd {
      margin-bottom: 20px;
      font-weight: 300;
    }
  }

  &-info {
    margin-bottom: 40px;
  }

  &-bio {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-picture {
    width: 185px;
    margin: auto;
    margin-bottom: 40px;
  }

  &-known-for {
    //margin-bottom: 40px;
  }

  &-movies {
    padding-top: 6px;
    margin: 0 -20px;

    &-scroll {
      //width: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-flow: row nowrap;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-movie {
      width: 145px;
      padding-left: 20px;
      scroll-snap-align: start;
      scroll-snap-stop: normal;
      flex: none;
    }
  }

}

@media(min-width: 768px) {
  .person-stack {
    padding: 40px;

    &-movies {
      margin: 0 -40px;
    }
  }
}
