.movie-grid {
  display: flex;
  width: 1300%;
  padding: 20px;
  align-items: center;
  height: 100%;

  &-item {
    width: 100%;
    padding: 0 20px;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
    }
  }
}

@media(min-width: 768px) {
  .movie-grid {
    width: calc(550% + 160px);
  }
}
