.ui-toast {
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #1a1a1a;
  transform: translate3d(0, calc(100% + 20px), 0);
  animation: toast-show .4s .3s ease forwards;
  pointer-events: auto;

  &-layer {
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    backdrop-filter: none;
  }

  &-message {
    color: white;
    font-size: 15px;
    font-weight: 300;
  }
}

@keyframes toast-show {
  from {
    transform: translate3d(0, calc(100% + 20px), 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
