.search-stack {
  &-head {
    padding: 20px 20px 10px;
    position: sticky;
    top: 0;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(30px);
    transform: translate3d(0,0,0);
  }

  &-input {
    background-color: transparent;
    color: white;
    font-size: 28px;
    border: 0;
    outline: none;
    border-bottom: 2px solid white;
    font-family: Oswald;
    font-weight: 300;
    width: 100%;
    padding-left: 36px;
    border-radius: 0;

    &-wrapper {
      position: relative;
      width: calc(80% - 10px);

      .icon-search {
        position: absolute;
        top: 8px;
        left: 0;
        font-size: 28px;
      }
    }

    &-rating {
      padding-top: 20px;
    }
  }

  &-grid {
    padding: 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &-item {
      padding: 10px;
      width: 50%;
    }
  }
}


@media(min-width: 768px) {
  .search-stack {
    &-head {
      padding: 40px 40px 20px;
    }

    &-input {
      font-size: 48px;
      padding-left: 56px;

      &-wrapper {
        .icon-search {
          top: 16px;
          font-size: 48px;
        }
      }

      &-rating {
        padding-top: 0;
        position: absolute;
        top: 24px;
        right: 0;
      }
    }

    &-grid {
      padding: 0 20px 20px;

      &-item {
        padding: 20px;
        width: 20%;
      }
    }
  }
}
